Libriaries

In [6]:
from fpl import FPL
import pandas as pd
import asyncio
import nest_asyncio
import aiohttp

Functions

In [7]:
print(dir(FPL))

['FDR', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'get_classic_league', 'get_fixture', 'get_fixtures', 'get_fixtures_by_gameweek', 'get_fixtures_by_id', 'get_gameweek', 'get_gameweeks', 'get_h2h_league', 'get_player', 'get_player_summaries', 'get_player_summary', 'get_players', 'get_points_against', 'get_team', 'get_teams', 'get_user', 'login']

Creating needed dataset

- players overall dataset

In [8]:
# Allow running nested event loops
nest_asyncio.apply()

async def main():
    # Create a session
    async with aiohttp.ClientSession() as session:
        # Create an instance of FPL with the session
        fpl = FPL(session)

        # Use the await keyword since get_players is an asynchronous method
        potential_players = await fpl.get_players()

        # Now you can convert the data into a DataFrame
        player_dict = [vars(x) for x in potential_players]
        players_df = pd.DataFrame(player_dict)

        return players_df

# Run the asynchronous function in the event loop
players_data = asyncio.run(main())

In [9]:
players_data.head(10)

,_session,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,<aiohttp.client.ClientSession object at 0x0000...,0.0,0.0,232223,0,0,-1,1,0,4,...,524,92,568,54,639,66,328,50,0.00,0.00
1,<aiohttp.client.ClientSession object at 0x0000...,NaN,NaN,58822,0,0,-1,1,0,2,...,729,230,412,143,505,172,252,99,0.00,0.00
2,<aiohttp.client.ClientSession object at 0x0000...,0.0,100.0,153256,0,0,-1,1,0,3,...,494,290,554,200,52,30,448,147,0.00,0.00
3,<aiohttp.client.ClientSession object at 0x0000...,0.0,0.0,438098,0,0,-1,1,0,3,...,125,79,742,322,213,95,437,143,0.76,0.38
4,<aiohttp.client.ClientSession object at 0x0000...,100.0,100.0,226597,0,0,0,0,1,2,...,194,22,65,14,120,31,18,6,0.98,0.31
5,<aiohttp.client.ClientSession object at 0x0000...,100.0,100.0,219847,0,0,-4,4,0,3,...,30,17,76,40,191,86,150,49,1.00,0.31
6,<aiohttp.client.ClientSession object at 0x0000...,100.0,100.0,205651,0,0,0,0,1,4,...,13,4,43,7,132,21,72,13,1.06,0.48
7,<aiohttp.client.ClientSession object at 0x0000...,100.0,100.0,85955,0,0,-2,2,0,3,...,131,82,733,315,375,167,344,107,0.94,0.23
8,<aiohttp.client.ClientSession object at 0x0000...,NaN,NaN,440854,0,0,-2,2,0,2,...,603,151,331,113,346,123,436,169,1.23,0.31
9,<aiohttp.client.ClientSession object at 0x0000...,0.0,0.0,479683,0,0,0,0,0,3,...,424,246,629,239,685,276,535,190,0.00,0.00

In [13]:
# Dataframe columns
players_data.columns

Index(['_session', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'code', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       'dreamteam_count', 'element_type', 'ep_next', 'ep_this', 'event_points',
       'first_name', 'form', 'id', 'in_dreamteam', 'news', 'news_added',
       'now_cost', 'photo', 'points_per_game', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'minutes', 'goals_scored', 'assists', 'clean_sheets',
       'goals_conceded', 'own_goals', 'penalties_saved', 'penalties_missed',
       'yellow_cards', 'red_cards', 'saves', 'bonus', 'bps', 'influence',
       'creativity', 'threat', 'ict_index', 'starts', 'expected_goals',
       'expected_assists', 'expected_goal_involvements',
       'expected_goals_conceded', 'influence_rank', 'influence_rank_type',
       'creativity_rank', 'creativity_rank_type', 'threat_rank',
       'threat_rank_type', 'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

- players statistics

In [14]:
# Allow running nested event loops
nest_asyncio.apply()

async def main():
    # Create a session
    async with aiohttp.ClientSession() as session:
        # Create an instance of FPL with the session
        fpl = FPL(session)

        # Use the await keyword since get_players is an asynchronous method
        potential_players = await fpl.get_player_summaries(list(players_data.id))

        # Now you can convert the data into a DataFrame
        player_dict = [vars(x) for x in potential_players]
        players_summary_df = pd.DataFrame(player_dict)

        return players_summary_df

# Run the asynchronous function in the event loop
players_summary_data = asyncio.run(main())

In [15]:
df = pd.json_normalize(players_summary_data.history)
df = pd.json_normalize(df.to_numpy().flatten())
df = df.dropna(how='all')

In [16]:
df.columns

Index(['element', 'fixture', 'opponent_team', 'total_points', 'was_home',
       'kickoff_time', 'team_h_score', 'team_a_score', 'round', 'minutes',
       'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded', 'value',
       'transfers_balance', 'selected', 'transfers_in', 'transfers_out'],
      dtype='object')

In [17]:
# player 355 is Erling Haaland
df[df.element==355]

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
9500,355.0,1.0,6.0,13.0,False,2023-08-11T19:00:00Z,0.0,3.0,1.0,79.0,...,1.0,0.60,0.05,0.65,0.23,140.0,0.0,7200159.0,0.0,0.0
9501,355.0,16.0,15.0,2.0,True,2023-08-19T19:00:00Z,1.0,0.0,2.0,90.0,...,1.0,0.43,0.02,0.45,0.29,140.0,132944.0,8231668.0,161773.0,28829.0
9502,355.0,30.0,17.0,4.0,False,2023-08-27T13:00:00Z,1.0,2.0,3.0,90.0,...,1.0,1.93,0.01,1.94,0.73,140.0,64397.0,8571562.0,91189.0,26792.0
9503,355.0,39.0,10.0,20.0,True,2023-09-02T14:00:00Z,5.0,1.0,4.0,90.0,...,1.0,1.58,0.10,1.68,1.45,140.0,27163.0,8787213.0,53175.0,26012.0
9504,355.0,49.0,19.0,6.0,False,2023-09-16T14:00:00Z,1.0,3.0,5.0,90.0,...,1.0,2.56,0.03,2.59,0.94,141.0,88573.0,9070132.0,102747.0,14174.0
9505,355.0,59.0,16.0,6.0,True,2023-09-23T14:00:00Z,2.0,0.0,6.0,90.0,...,1.0,0.69,0.01,0.70,1.03,141.0,39924.0,9176859.0,50069.0,10145.0
9506,355.0,70.0,20.0,2.0,False,2023-09-30T14:00:00Z,2.0,1.0,7.0,90.0,...,1.0,0.06,0.03,0.09,0.44,141.0,3265.0,9241818.0,28710.0,25445.0
9507,355.0,71.0,1.0,2.0,False,2023-10-08T15:30:00Z,1.0,0.0,8.0,90.0,...,1.0,0.00,0.17,0.17,0.41,141.0,-236407.0,9008161.0,28394.0,264801.0
9508,355.0,86.0,5.0,8.0,True,2023-10-21T14:00:00Z,2.0,1.0,9.0,90.0,...,1.0,0.26,0.00,0.26,0.83,140.0,-195755.0,8880074.0,40373.0,236128.0
9509,355.0,98.0,14.0,16.0,False,2023-10-29T15:30:00Z,0.0,3.0,10.0,90.0,...,1.0,2.04,0.47,2.51,1.03,140.0,-351614.0,8540943.0,27851.0,379465.0
9510,355.0,106.0,3.0,1.0,True,2023-11-04T15:00:00Z,6.0,1.0,11.0,45.0,...,1.0,0.44,0.02,0.46,0.18,140.0,86091.0,8693052.0,126514.0,40423.0
9511,355.0,115.0,7.0,16.0,False,2023-11-12T16:30:00Z,4.0,4.0,12.0,90.0,...,1.0,2.03,0.03,2.06,2.96,140.0,-239590.0,8445429.0,44143.0,283733.0
9512,355.0,126.0,11.0,7.0,True,2023-11-25T12:30:00Z,1.0,1.0,13.0,90.0,...,1.0,0.73,0.01,0.74,0.56,140.0,-32210.0,8444738.0,129906.0,162116.0
9513,355.0,137.0,18.0,7.0,True,2023-12-03T16:30:00Z,3.0,3.0,14.0,90.0,...,1.0,0.77,0.22,0.99,0.49,140.0,178999.0,8677883.0,196809.0,17810.0
9514,355.0,141.0,2.0,2.0,False,2023-12-06T20:15:00Z,1.0,0.0,15.0,90.0,...,1.0,0.83,0.00,0.83,2.04,140.0,30222.0,8714407.0,50373.0,20151.0
9515,355.0,156.0,12.0,0.0,False,2023-12-10T14:00:00Z,1.0,2.0,16.0,0.0,...,0.0,0.00,0.00,0.00,0.00,140.0,73122.0,8812520.0,93107.0,19985.0
9516,355.0,167.0,8.0,0.0,True,2023-12-16T15:00:00Z,2.0,2.0,17.0,0.0,...,0.0,0.00,0.00,0.00,0.00,140.0,-1477506.0,7231415.0,16216.0,1493722.0
9517,355.0,187.0,9.0,0.0,False,2023-12-27T20:15:00Z,1.0,3.0,19.0,0.0,...,0.0,0.00,0.00,0.00,0.00,139.0,-231633.0,6260409.0,89441.0,321074.0
9518,355.0,196.0,17.0,0.0,True,2023-12-30T15:00:00Z,2.0,0.0,20.0,0.0,...,0.0,0.00,0.00,0.00,0.00,139.0,-666400.0,5595831.0,46628.0,713028.0

- Fixtures dataset

In [74]:
# Allow running nested event loops
nest_asyncio.apply()

async def main():
    # Create a session
    async with aiohttp.ClientSession() as session:
        # Create an instance of FPL with the session
        fpl = FPL(session)

        # Set the gameweek variable to a specific value
        #gameweek = 2

        # Use the await keyword since get_fixtures_by_gameweek is an asynchronous method
        fixtures = await fpl.get_fixtures(return_json=True)

        # Now you can convert the data into a DataFrame
        fixtures_df = pd.DataFrame(fixtures)

        return fixtures_df

# Run the asynchronous function in the event loop and assign the result to a variable
fixtures_data = asyncio.run(main())

# Now you can use the 'fixtures_data' DataFrame in your Jupyter Notebook session

In [89]:
fixtures_data[fixtures_data.finished == True]

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
1,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321
2,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322
3,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323
4,2367541,1.0,True,True,4,2023-08-12T14:00:00Z,90,False,True,12,1.0,5,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,93324
5,2367542,1.0,True,True,5,2023-08-12T14:00:00Z,90,False,True,10,1.0,9,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,2367688,16.0,True,True,151,2023-12-09T17:30:00Z,90,False,True,1,0.0,2,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",4,3,93471
157,2367691,16.0,True,True,154,2023-12-10T14:00:00Z,90,False,True,7,0.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,93474
158,2367692,16.0,True,True,155,2023-12-10T14:00:00Z,90,False,True,19,0.0,10,5.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,93475
159,2367693,16.0,True,True,156,2023-12-10T14:00:00Z,90,False,True,13,2.0,12,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93476
160,2367696,16.0,True,True,159,2023-12-10T16:30:00Z,90,False,True,15,1.0,18,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,3,93479

- Gameweeks dataset

In [84]:
# Allow running nested event loops
nest_asyncio.apply()

async def main():
    # Create a session
    async with aiohttp.ClientSession() as session:
        # Create an instance of FPL with the session
        fpl = FPL(session)

        # Set the gameweek variable to a specific value
        #gameweek = 2

        # Use the await keyword since get_fixtures_by_gameweek is an asynchronous method
        fixtures = await fpl.get_gameweeks(return_json=True)

        # Now you can convert the data into a DataFrame
        gameweeks_df = pd.DataFrame(fixtures)

        return gameweeks_df

# Run the asynchronous function in the event loop and assign the result to a variable
gameweeks_data = asyncio.run(main())

# Now you can use the 'fixtures_data' DataFrame in your Jupyter Notebook session

In [85]:
gameweeks_data

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2023-08-11T17:30:00Z,64,True,True,3383750.0,1691775000,0,127.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 163222}...",355.0,1.0,395.0,"{'id': 395, 'points': 14}",0,355.0,19.0
1,2,Gameweek 2,2023-08-18T17:15:00Z,44,True,True,3338487.0,1692378900,0,120.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 126778}...",355.0,195.0,108.0,"{'id': 108, 'points': 16}",13130353,355.0,19.0
2,3,Gameweek 3,2023-08-25T17:30:00Z,44,True,True,9368956.0,1692984600,0,128.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 124110}...",355.0,108.0,216.0,"{'id': 216, 'points': 19}",17619532,355.0,19.0
3,4,Gameweek 4,2023-09-01T17:30:00Z,72,True,True,4354697.0,1693589400,0,148.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 109196}...",355.0,216.0,516.0,"{'id': 516, 'points': 20}",16035365,355.0,19.0
4,5,Gameweek 5,2023-09-16T10:00:00Z,44,True,True,6211182.0,1694858400,0,102.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 96469},...",355.0,516.0,344.0,"{'id': 344, 'points': 13}",14363988,355.0,19.0
5,6,Gameweek 6,2023-09-23T12:30:00Z,68,True,True,4494759.0,1695472200,0,142.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 78528},...",355.0,343.0,430.0,"{'id': 430, 'points': 18}",12109066,355.0,308.0
6,7,Gameweek 7,2023-09-30T10:00:00Z,49,True,True,9335002.0,1696068000,0,156.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 79672},...",355.0,430.0,60.0,"{'id': 60, 'points': 23}",15579302,355.0,308.0
7,8,Gameweek 8,2023-10-07T10:00:00Z,44,True,True,10068163.0,1696672800,0,120.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 53401},...",355.0,516.0,216.0,"{'id': 216, 'points': 16}",19444885,355.0,355.0
8,9,Gameweek 9,2023-10-21T10:00:00Z,67,True,True,6931177.0,1697882400,0,152.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 50175},...",355.0,60.0,423.0,"{'id': 423, 'points': 17}",11431916,355.0,308.0
9,10,Gameweek 10,2023-10-27T17:30:00Z,66,True,True,9895223.0,1698427800,0,134.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 80903},...",355.0,60.0,13.0,"{'id': 13, 'points': 17}",12428517,355.0,355.0
10,11,Gameweek 11,2023-11-04T11:00:00Z,32,True,True,3242487.0,1699095600,0,107.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 61985},...",355.0,311.0,678.0,"{'id': 678, 'points': 22}",10003311,355.0,308.0
11,12,Gameweek 12,2023-11-11T11:00:00Z,64,True,True,299796.0,1699700400,0,129.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 60433},...",355.0,526.0,308.0,"{'id': 308, 'points': 16}",11701013,355.0,355.0
12,13,Gameweek 13,2023-11-25T11:00:00Z,46,True,True,10279974.0,1700910000,0,106.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 38925},...",355.0,362.0,86.0,"{'id': 86, 'points': 16}",11743909,355.0,308.0
13,14,Gameweek 14,2023-12-02T13:30:00Z,54,True,True,2753264.0,1701523800,0,114.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 51415},...",355.0,108.0,109.0,"{'id': 109, 'points': 14}",9478613,355.0,355.0
14,15,Gameweek 15,2023-12-05T18:00:00Z,35,True,True,6195999.0,1701799200,0,105.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 44960},...",355.0,412.0,267.0,"{'id': 267, 'points': 15}",6838182,355.0,355.0
15,16,Gameweek 16,2023-12-09T11:00:00Z,18,False,False,9835224.0,1702119600,0,91.0,...,True,True,"[{'chip_name': 'bboost', 'num_played': 41381},...",355.0,362.0,516.0,"{'id': 516, 'points': 17}",8652679,355.0,308.0
16,17,Gameweek 17,2023-12-15T18:30:00Z,0,False,False,NaN,1702665000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
17,18,Gameweek 18,2023-12-21T18:30:00Z,0,False,False,NaN,1703183400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
18,19,Gameweek 19,2023-12-26T11:00:00Z,0,False,False,NaN,1703588400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
19,20,Gameweek 20,2023-12-30T11:00:00Z,0,False,False,NaN,1703934000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
20,21,Gameweek 21,2024-01-13T11:00:00Z,0,False,False,NaN,1705143600,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
21,22,Gameweek 22,2024-01-30T18:15:00Z,0,False,False,NaN,1706638500,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
22,23,Gameweek 23,2024-02-03T13:30:00Z,0,False,False,NaN,1706967000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
23,24,Gameweek 24,2024-02-10T13:30:00Z,0,False,False,NaN,1707571800,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
24,25,Gameweek 25,2024-02-17T13:30:00Z,0,False,False,NaN,1708176600,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
25,26,Gameweek 26,2024-02-24T13:30:00Z,0,False,False,NaN,1708781400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
26,27,Gameweek 27,2024-03-02T13:30:00Z,0,False,False,NaN,1709386200,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
27,28,Gameweek 28,2024-03-09T13:30:00Z,0,False,False,NaN,1709991000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
28,29,Gameweek 29,2024-03-16T13:30:00Z,0,False,False,NaN,1710595800,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
29,30,Gameweek 30,2024-03-30T13:30:00Z,0,False,False,NaN,1711805400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
30,31,Gameweek 31,2024-04-02T17:15:00Z,0,False,False,NaN,1712078100,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
31,32,Gameweek 32,2024-04-06T12:30:00Z,0,False,False,NaN,1712406600,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
32,33,Gameweek 33,2024-04-13T12:30:00Z,0,False,False,NaN,1713011400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
33,34,Gameweek 34,2024-04-20T12:30:00Z,0,False,False,NaN,1713616200,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
34,35,Gameweek 35,2024-04-27T12:30:00Z,0,False,False,NaN,1714221000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
35,36,Gameweek 36,2024-05-04T12:30:00Z,0,False,False,NaN,1714825800,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
36,37,Gameweek 37,2024-05-11T12:30:00Z,0,False,False,NaN,1715430600,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
37,38,Gameweek 38,2024-05-19T13:30:00Z,0,False,False,NaN,1716125400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN

In [32]:
df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

### Example of usage: Check the percent of players choosing Haaland

In [49]:
columns_to_exclude = ['code',
                       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
                       'cost_change_start_fall','news','news_added']
#'chance_of_playing_next_round', 'chance_of_playing_this_round'

# Use the drop method to exclude the specified columns
filtered_df = df.drop(columns=columns_to_exclude)

# if a player hasn’t been injured this season, they will not have a value. To avoid any errors use the fillna to fill in any NaNs to 100
df.chance_of_playing_this_round.fillna(100)

In [87]:
filtered_df[filtered_df.first_name == 'Erling'][['selected_by_percent','chance_of_playing_this_round','id']]

     selected_by_percent  chance_of_playing_this_round   id
468                 84.5                         100.0  355

### Example of usage: Check players price

In [30]:
df[['first_name', 'now_cost']].sort_values('now_cost')

    first_name  now_cost
210   Lawrence        39
415    Amari'i        39
622     George        39
432        Dan        39
129     Thomas        39
..         ...       ...
679        Son        95
463      Kevin       102
664      Harry       125
394    Mohamed       131
468     Erling       140

[758 rows x 2 columns]

##  Task: Assemble a lineup of 15 players that would currently have the highest points in the season

Rules:  
To join the game select a fantasy football squad of 15 players, consisting of:  

2 Goalkeepers  
5 Defenders  
5 Midfielders  
3 Forwards  
Budget  
The total value of your initial squad must not exceed £100 million.  

Players Per Team  
You can select up to 3 players from a single Premier League team.

In [305]:
raw_data = players_data[['id','first_name','web_name','now_cost','points_per_game','total_points','team','element_type','points_per_game_rank_type']]

In [256]:
raw_data[raw_data.id == 355]

,id,first_name,web_name,now_cost,points_per_game,total_points,team,element_type,points_per_game_rank_type
468,355,Erling,Haaland,140,7.5,112,13,4,1

In [257]:
# element_type is the player position
raw_data['element_type'].unique()

array([4, 2, 3, 1], dtype=int64)

In [318]:
from scipy.optimize import linprog
import numpy as np

df = raw_data.copy()

# Funkcja celu do maksymalizacji
def objective_function(x):
    return sum(df['total_points'] * x)

# Ograniczenie dotyczące kosztu
cost_constraint = {'type': 'ineq', 'fun': lambda x: 1000 - sum(df['now_cost'] * x)}

# Liczba graczy każdego typu
players_count_constraints = [
    {'type': 'eq', 'fun': lambda x, et=et, count=count: sum((df['element_type'] == et) * x) - count} for et, count in zip([1, 2, 3, 4], [2, 5, 5, 3])
]

# Każdy gracz jest wybrany lub nie
bounds = [(0, 1) for _ in range(len(df))]

initial_guess = [0] * len(df)

result = linprog(
    c=[-p for p in df['total_points']],  # Maksymalizacja punktów (uwaga: zmieniłem znak)
    bounds=bounds,  # Każdy gracz jest wybrany lub nie
    method='highs',  # Metoda optymalizacji
    options={'tol': 1e-9},  # Opcjonalne: dokładność rozwiązania
    A_ub=np.array([df['now_cost'].values]),  # Ograniczenie kosztu
    b_ub=[1000],  # Ograniczenie kosztu
    A_eq=np.array([df['element_type'].eq(1).values, df['element_type'].eq(2).values, df['element_type'].eq(3).values, df['element_type'].eq(4).values]),  # Ograniczenia dotyczące typów graczy
    b_eq=[2, 5, 5, 3],  # Liczba graczy każdego typu
)

# Sprawdź wartości zmiennych decyzyjnych (x) w wynikach optymalizacji
selected_players = [df['id'].iloc[i] for i, decision in enumerate(result.x) if decision == 1]

# Wyświetl listę identyfikatorów wybranych graczy
print("Selected players:", selected_players)

Selected players: [20, 60, 85, 108, 145, 220, 260, 265, 275, 308, 343, 412, 430, 516]

C:\Users\k_far\AppData\Local\Temp/ipykernel_11096/3749347389.py:23: OptimizeWarning: Unknown solver options: tol
  result = linprog(

In [299]:
raw_data[raw_data.id.isin(selected_players)].sort_values('element_type')

,id,first_name,web_name,now_cost,points_per_game,total_points,team,element_type,points_per_game_rank_type
227,145,Robert,Sanchez,47,3.7,59,7,1,6
349,275,Bernd,Leno,47,4.1,66,10,1,4
18,20,William,Saliba,55,4.1,65,1,2,10
278,220,Joachim,Andersen,51,4.0,64,8,2,12
323,260,Vitalii,Mykolenko,45,5.2,62,9,2,5
328,265,James,Tarkowski,44,3.6,58,9,2,18
553,430,Kieran,Trippier,70,5.1,82,15,2,6
122,108,Bryan,Mbeumo,70,5.8,87,4,3,4
394,308,Mohamed,Salah,131,7.9,127,11,3,1
535,412,Anthony,Gordon,62,5.5,83,15,3,8
679,516,Son,Son,95,7.1,113,18,3,2
60,60,Ollie,Watkins,84,6.2,99,2,4,2
92,85,Dominic,Solanke,66,4.6,73,3,4,6
457,343,Julián,J.Alvarez,69,5.0,80,13,4,3

In [282]:
existing_players['id']

18      20
60      60
92      85
122    108
227    145
278    220
323    260
328    265
349    275
394    308
457    343
535    412
553    430
679    516
Name: id, dtype: int64

In [311]:
from pulp import LpProblem, LpVariable, lpSum, LpMaximize

# Define data for the existing 15 players
df = raw_data.copy()

# Tworzymy problem optymalizacyjny
prob = LpProblem("FantasyFootball", LpMaximize)

# Tworzymy zmienne decyzyjne dla każdego zawodnika
players_vars = LpVariable.dicts("Player", df.index, cat="Binary")

# Funkcja celu - maksymalizujemy sumę punktów
prob += lpSum(df["total_points"][i] * players_vars[i] for i in df.index)

# Ograniczenie - wybieramy dokładnie 15 zawodników
prob += lpSum(players_vars[i] for i in df.index) == 15

# Ograniczenia dotyczące pozycji zawodników
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 1) == 2  # Bramkarz
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 2) == 5  # Obrońcy
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 3) == 5  # Pomocnicy
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 4) == 3  # Napastnicy

# Warunek dotyczący budżetu (<1000)
prob += lpSum(df["now_cost"][i] * players_vars[i] for i in df.index) <= 1000

# Rozwiązujemy problem optymalizacyjny
prob.solve()

# Wyświetlamy wyniki
selected_players = [i for i in df.index if players_vars[i].value() == 1]
selected_df = df.loc[selected_players]

      id first_name    web_name  now_cost points_per_game  total_points  team  \
18    20    William      Saliba        55             4.1            65     1
60    60      Ollie     Watkins        84             6.2            99     2
92    85    Dominic     Solanke        66             4.6            73     3
122  108      Bryan      Mbeumo        70             5.8            87     4
278  220    Joachim    Andersen        51             4.0            64     8
314  249  Abdoulaye  A.Doucoure        55             4.7            75     9
323  260    Vitalii   Mykolenko        45             5.2            62     9
328  265      James   Tarkowski        44             3.6            58     9
349  275      Bernd        Leno        47             4.1            66    10
377  291    Alisson    A.Becker        56             4.4            62    11
394  308    Mohamed       Salah       131             7.9           127    11
457  343     Julián   J.Alvarez        69             5.0            80    13
535  412    Anthony      Gordon        62             5.5            83    15
553  430     Kieran    Trippier        70             5.1            82    15
679  516        Son         Son        95             7.1           113    18

     element_type  points_per_game_rank_type
18              2                         10
60              4                          2
92              4                          6
122             3                          4
278             2                         12
314             3                         16
323             2                          5
328             2                         18
349             1                          4
377             1                          2
394             3                          1
457             4                          3
535             3                          8
553             2                          6
679             3                          2

In [313]:
selected_df.sort_values('element_type')

,id,first_name,web_name,now_cost,points_per_game,total_points,team,element_type,points_per_game_rank_type
349,275,Bernd,Leno,47,4.1,66,10,1,4
377,291,Alisson,A.Becker,56,4.4,62,11,1,2
18,20,William,Saliba,55,4.1,65,1,2,10
278,220,Joachim,Andersen,51,4.0,64,8,2,12
323,260,Vitalii,Mykolenko,45,5.2,62,9,2,5
328,265,James,Tarkowski,44,3.6,58,9,2,18
553,430,Kieran,Trippier,70,5.1,82,15,2,6
122,108,Bryan,Mbeumo,70,5.8,87,4,3,4
314,249,Abdoulaye,A.Doucoure,55,4.7,75,9,3,16
394,308,Mohamed,Salah,131,7.9,127,11,3,1
535,412,Anthony,Gordon,62,5.5,83,15,3,8
679,516,Son,Son,95,7.1,113,18,3,2
60,60,Ollie,Watkins,84,6.2,99,2,4,2
92,85,Dominic,Solanke,66,4.6,73,3,4,6
457,343,Julián,J.Alvarez,69,5.0,80,13,4,3

In [314]:
# Define data for the existing 15 players
df = selected_df.copy()

# Tworzymy problem optymalizacyjny
prob = LpProblem("FantasyFootball", LpMaximize)

# Tworzymy zmienne decyzyjne dla każdego zawodnika
players_vars = LpVariable.dicts("Player", df.index, cat="Binary")

# Funkcja celu - maksymalizujemy sumę punktów
prob += lpSum(df["total_points"][i] * players_vars[i] for i in df.index)

# Ograniczenie - wybieramy dokładnie 15 zawodników
prob += lpSum(players_vars[i] for i in df.index) == 11

# Ograniczenia dotyczące pozycji zawodników
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 1) == 1  # Bramkarz
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 2) >= 3  # Obrońcy
# prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 3) == 5  # Pomocnicy
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 4) >= 1  # Napastnicy


# Rozwiązujemy problem optymalizacyjny
prob.solve()

# Wyświetlamy wyniki
selected_players = [i for i in df.index if players_vars[i].value() == 1]
selected_df = df.loc[selected_players]

In [317]:
selected_df.sort_values('element_type')

,id,first_name,web_name,now_cost,points_per_game,total_points,team,element_type,points_per_game_rank_type
349,275,Bernd,Leno,47,4.1,66,10,1,4
18,20,William,Saliba,55,4.1,65,1,2,10
278,220,Joachim,Andersen,51,4.0,64,8,2,12
553,430,Kieran,Trippier,70,5.1,82,15,2,6
122,108,Bryan,Mbeumo,70,5.8,87,4,3,4
314,249,Abdoulaye,A.Doucoure,55,4.7,75,9,3,16
394,308,Mohamed,Salah,131,7.9,127,11,3,1
535,412,Anthony,Gordon,62,5.5,83,15,3,8
679,516,Son,Son,95,7.1,113,18,3,2
60,60,Ollie,Watkins,84,6.2,99,2,4,2
457,343,Julián,J.Alvarez,69,5.0,80,13,4,3

In [319]:
# Define data for the existing 15 players
df = raw_data[raw_data.id.isin(selected_players)]

# Tworzymy problem optymalizacyjny
prob = LpProblem("FantasyFootball", LpMaximize)

# Tworzymy zmienne decyzyjne dla każdego zawodnika
players_vars = LpVariable.dicts("Player", df.index, cat="Binary")

# Funkcja celu - maksymalizujemy sumę punktów
prob += lpSum(df["total_points"][i] * players_vars[i] for i in df.index)

# Ograniczenie - wybieramy dokładnie 15 zawodników
prob += lpSum(players_vars[i] for i in df.index) == 11

# Ograniczenia dotyczące pozycji zawodników
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 1) == 1  # Bramkarz
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 2) >= 3  # Obrońcy
# prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 3) == 5  # Pomocnicy
prob += lpSum(players_vars[i] for i in df.index if df["element_type"][i] == 4) >= 1  # Napastnicy


# Rozwiązujemy problem optymalizacyjny
prob.solve()

# Wyświetlamy wyniki
selected_players = [i for i in df.index if players_vars[i].value() == 1]
selected_df = df.loc[selected_players]

In [320]:
selected_df.sort_values('element_type')

,id,first_name,web_name,now_cost,points_per_game,total_points,team,element_type,points_per_game_rank_type
349,275,Bernd,Leno,47,4.1,66,10,1,4
18,20,William,Saliba,55,4.1,65,1,2,10
278,220,Joachim,Andersen,51,4.0,64,8,2,12
553,430,Kieran,Trippier,70,5.1,82,15,2,6
122,108,Bryan,Mbeumo,70,5.8,87,4,3,4
394,308,Mohamed,Salah,131,7.9,127,11,3,1
535,412,Anthony,Gordon,62,5.5,83,15,3,8
679,516,Son,Son,95,7.1,113,18,3,2
60,60,Ollie,Watkins,84,6.2,99,2,4,2
92,85,Dominic,Solanke,66,4.6,73,3,4,6
457,343,Julián,J.Alvarez,69,5.0,80,13,4,3

In [266]:
set(selected_players) - set(selected_optimal_players)

{275, 412, 516}

In [262]:
selected_optimal_players

[20, 60, 85, 108, 145, 220, 260, 265, 308, 343, 430]

In [298]:
raw_data[raw_data.id.isin(list(set(selected_players) - set(selected_optimal_players)))].sort_values('element_type')

,id,first_name,web_name,now_cost,points_per_game,total_points,team,element_type,points_per_game_rank_type
349,275,Bernd,Leno,47,4.1,66,10,1,4
328,265,James,Tarkowski,44,3.6,58,9,2,18
553,430,Kieran,Trippier,70,5.1,82,15,2,6
394,308,Mohamed,Salah,131,7.9,127,11,3,1
457,343,Julián,J.Alvarez,69,5.0,80,13,4,3

----------------------- GARBAGE TO DELETE LATER -------------------------------------------------

In [253]:
raw_data[raw_data.id.isin(selected_optimal_players)].total_points.sum()

856

In [221]:
from scipy.optimize import linprog
import numpy as np

df = raw_data.copy()

# Funkcja celu do maksymalizacji
def objective_function(x):
    return sum(df['total_points'] * x)

# Ograniczenie dotyczące kosztu
cost_constraint = {'type': 'ineq', 'fun': lambda x: 1000 - sum(df['now_cost'] * x)}

# Liczba graczy każdego typu
players_count_constraints = [
    {'type': 'eq', 'fun': lambda x, et=et, count=count: sum((df['element_type'] == et) * x) - count} 
    for et, count in zip([1, 2, 3, 4], [2, 5, 5, 3])
]

# Każdy gracz jest wybrany lub nie
bounds = [(0, 1) for _ in range(len(df))]

result = linprog(
    c=[-p for p in df['total_points']],  # Maksymalizacja punktów (zmieniłem znak)
    bounds=bounds,  # Każdy gracz jest wybrany lub nie
    method='highs',  # Metoda optymalizacji
    options={'tol': 1e-9},  # Opcjonalne: dokładność rozwiązania
    A_ub=np.array([df['now_cost'].values]),  # Ograniczenie kosztu
    b_ub=[1000],  # Ograniczenie kosztu
    A_eq=np.array([df['element_type'].eq(1).values, df['element_type'].eq(2).values, df['element_type'].eq(3).values, df['element_type'].eq(4).values]),  # Ograniczenia dotyczące typów graczy
    b_eq=[2, 5, 5, 3],  # Liczba graczy każdego typu
    constraints=players_count_constraints + [cost_constraint]  # Dodatkowe ograniczenia dla liczby graczy i kosztu
)

# Sprawdź wartości zmiennych decyzyjnych (x) w wynikach optymalizacji
selected_players = [df['id'].iloc[i] for i, decision in enumerate(result.x) if decision == 1]

# Wyświetl listę identyfikatorów wybranych graczy
print("Selected players:", selected_players)

TypeError: linprog() got an unexpected keyword argument 'constraints'

In [240]:
from pulp import LpProblem, LpMaximize, LpVariable, lpSum, LpInteger

# Załóżmy, że df to twoja tabela z danymi
# Tworzymy model PuLP
prob = LpProblem("FantasyFootball", LpMaximize)

# Zmienna decyzyjna dla każdego gracza (0 lub 1)
x = {i: LpVariable(f"x{i}", 0, 1, LpInteger) for i in df['id']}

# Maksymalizacja punktów
prob += lpSum(df['total_points'] * x[i] for i in df['id'])

# Ograniczenie dotyczące liczby graczy każdego typu
for et, count in zip([1, 2, 3, 4], [2, 5, 5, 3]):
    prob += lpSum(x[i] for i in df[df['element_type'] == et]['id']) >= count, f"Type{et}Constraint"

# Ograniczenie dotyczące kosztu
prob += lpSum(df['now_cost'] * x[i] for i in df['id']) <= 1000, "CostConstraint"

# Ograniczenie dotyczące liczby ogólnych graczy (w tym przypadku 15)
prob += lpSum(x[i] for i in df['id']) == 15, "TotalPlayersConstraint"

# Ograniczenie dotyczące liczby punktujących graczy
prob += lpSum(x[i] for i in df[df['element_type'] == 2]['id']) >= 3, "Type2PlayersConstraint"
prob += lpSum(x[i] for i in df[df['element_type'] == 4]['id']) >= 1, "Type4PlayersConstraint"

# Rozwiązanie problemu
prob.solve()

# Sprawdź wartości zmiennych decyzyjnych (x) w wynikach optymalizacji
selected_players = [i for i in df['id'] if x[i].value() == 1]

# Wyświetl listę identyfikatorów wybranych graczy
print("Selected players:", selected_players)

Selected players: []

In [241]:
raw_data[raw_data.id.isin(selected_players)].sort_values('element_type')

Empty DataFrame
Columns: [id, first_name, web_name, now_cost, points_per_game, total_points, team, element_type]
Index: []